{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Magra&display=swap" rel="stylesheet">
    <style>
        .texto-justificado{
            text-align: justify;
            font-family: "Open Sans", Arial, sans-serif;
        }
    </style>
<body>
  <div class="parallax-container">
      <div class="parallax"><img src="/media/casa1.jpeg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="/media/casa1.jpeg"></div>
    </div>

<div class = "center titulo">
    <h3>Quienes somos?</h3>
</div>
<div class="container">
  <div class="section">
      <div class="row">
          <div class="col s4">
              <div class="icon-block">
                  <h2 class="center black-text">
                      <i class="medium material-icons center">real_estate_agent</i>
                  </h2>
                  <h4 class="center">Historia</h4>
                  <h6 class="texto-justificado">ROGA es una empresa fundada hace más de 60 años en el estado de Colima, México. Desde sus inicios, la empresa se ha enfocado en ofrecer un servicio personalizado y de alta calidad en el mercado inmobiliario local. La empresa se enorgullece de ser una empresa familiar y de tener una larga trayectoria en el mercado inmobiliario local, lo que les ha permitido construir relaciones de confianza y lealtad con sus clientes y la comunidad.</h6>
              </div>
          </div>
          <div class="col s4">
              <div class="icon-block">
                  <h2 class="center black-text">
                      <i class="medium material-icons center">home</i>
                  </h2>
                  <h4 class="center">Mision</h4>
                  <h6 class="texto-justificado">La misión de ROGA es ofrecer un servicio de alta calidad en el mercado inmobiliario, brindando a los clientes una atención personalizada y profesional, con el fin de ayudarles a encontrar la propiedad perfecta para sus necesidades y a lograr sus objetivos de inversión.</h6>
              </div>
          </div>
          <div class="col s4">
              <div class="icon-block">
                  <h2 class="center black-text">
                      <i class="medium material-icons center">apartment</i>
                  </h2>
                  <h4 class="center">Vision</h4>
                  <h6 class="texto-justificado">La visión de ROGA es convertirse en la inmobiliaria líder en el estado de Colima, reconocida por su excelencia en el servicio al cliente y su amplio conocimiento del mercado inmobiliario local.</h6>
              </div>
          </div>
      </div>  
  </div>
</div>

        
</body>
{% endblock content%}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });
</script>
{% endblock js %}