{% extends "base.html" %} {% load static %} {% block content %}
<style>
  .casas {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins';
    font size: 50px;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
</style>
<body>
    
<h2 class = "center casas">Propiedades</h2>

<nav class="navbar" data-navbar>
    
  <div class="navbar-top">

    <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
      <ion-icon name="close-outline"></ion-icon>
    </button>

  </div>

  <div class="navbar-bottom">
    {% if request.user.is_authenticated %}
    <ul class="navbar-list">

      <li>
        <a href="http://127.0.0.1:8000/casas/" class="navbar-link" data-nav-link>Todo</a>
      </li>

      <li>
        <a href="http://127.0.0.1:8000/casass/" class="navbar-link" data-nav-link>Casas</a>
      </li>

      <li>
        <a href="http://127.0.0.1:8000/terrenos/" class="navbar-link" data-nav-link>Terrenos</a>
      </li>

      <li>
        <a href="http://127.0.0.1:8000/departamentos/" class="navbar-link" data-nav-link>Departamentos</a>
      </li>
    </ul>
    {%  endif %}
  </div>
</nav>
<br>
<br>

<div class="row">
   <div class="col s3 center">
    <div class="card center">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/media/t1.webp">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Terreno en renta<i class="material-icons right">more_vert</i></span>
{% comment %}<p><a href="/abarrotes/landingproductoa">Productos</a></p> {% endcomment %}
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Terreno en renta<i class="material-icons right">close</i></span>
        <div class="card-badge green">En renta</div>
        <h5>Terreno en una zona residencial tranquila, rodeado de naturaleza. Perfecto para construir una casa familiar con un amplio jardín.</h5>
      </div>
    </div>
  </div>
     <div class="col s3 center">
    <div class="card center">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/media/t22.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Terreno sobre avenida<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Terreno sobre avenida<i class="material-icons right">close</i></span>
        <div class="card-badge orange">En proceso de venta</div>
        <h5>Amplio terreno residencial en una ubicación privilegiada. Perfecto para construir la casa de tus sueños y disfrutar de vistas panorámicas.</h5>
      </div>
    </div>
  </div>
      <div class="col s3 center">
      <div class="card center">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/media/t3.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Terreno centrico<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Terreno centrico<i class="material-icons right">close</i></span>
          <div class="card-badge green">En venta</div>
          <h5>Terreno comercial en una zona de alto tráfico, ideal para establecer un negocio exitoso. Cuenta con fácil acceso y visibilidad.</h5>
        </div>
      </div>
    </div>
     <div class="col s3 center">
    <div class="card center">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/media/t1.webp">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Terreno en renta<i class="material-icons right">more_vert</i></span>
{% comment %}<p><a href="/abarrotes/landingproductoa">Productos</a></p> {% endcomment %}
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Terreno en renta<i class="material-icons right">close</i></span>
        <div class="card-badge orange">En proceso de renta</div>
        <h5>Terreno en una zona residencial tranquila, rodeado de naturaleza. Perfecto para construir una casa familiar con un amplio jardín.</h5>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">
    <div class="col s3 center">
    <div class="card center">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/media/t22.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Terreno sobre avenida<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Terreno sobre avenida<i class="material-icons right">close</i></span>
        <div class="card-badge green">En renta</div>
        <h5>Terreno urbano en una zona en crecimiento, cerca de servicios y comodidades. Ideal para desarrollar un proyecto residencial o comercial.</h5>
      </div>
    </div>
  </div>
  </div>
</div>

<br>
<br>
{% endblock content%} {% block js %}
<script type="text/javascript"></script>
{% endblock js %}
